<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.css" integrity="sha512-bs9fAcCAeaDfA4A+NiShWR886eClUcBtqhipoY5DM60Y1V3BbVQlabthUBal5bq8Z8nnxxiyb1wfGX2n76N1Mw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/product.css">
</head>
<body>
    <div class="form-container">
        <h1>Edit Product Information</h1>
        <form action="/admin/update-product?id=<%=product._id%>"  id="addproduct" method="post" enctype="multipart/form-data" >
        
            <label for="productName">Product Name:</label>
            <input type="text" id="productName" name="name" value="<%= product.name%>" >
            <span id="productNameValidationMessage" style="color: red;"></span>

            <label for="price">Price:</label>
            <input type="number" id="price" name="price" step="0.01"  value="<%= product.price%>" >
            <span id="priceValidationMessage" style="color: red;"></span>
          

            <textarea id="details" name="details" rows="4" cols="50"><%= product.details %></textarea>
              <span id="detailsValidationMessage" style="color: red;"></span>
           
           
              <label for="brand">Brand:</label>
            <input type="text"  value="<%= product.brand   %>"  id="brand" name="brand" >
            <span id="brandValidationMessage" style="color: red;"></span>
        
              
            <% product.sizes.forEach(size=>{ %>
              <div class="sizeInput">
                  <input type="text" name="sizes[]" value="<%= size.size %>" readonly>
                  <input type="number" id="quantities" name="quantities" value="<%= size.quantity %>" placeholder="Quantity">
               
                  <input type="hidden" name="quantity_id" value="<%=size._id  %>">
               
              </div>
          <% }) %>
           
          <span id="quantitiesValidationMessage" style="color: red;"></span>
            <input type="file" id="image" name="image"  accept="image/*" multiple>
            <input type="hidden" name="product_id" value="<%= product._id%>" >
            <div>
            <% for( let index = 0; index < product.image.length; index++ ) { %>
              <button type="button" id="delete<%= index %>" class="btn btn-primary">Change</button>

              <img src="<%=product.image[index] %>" alt="" class="img-fluid mt-2" style="max-width: 200px;">
              <div id="imageContainer<%= index %>"></div>
            <% } %>
          </div>
      
            <input type="submit" value="Save">
        </form>
    </div>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  document.getElementById('addproduct').addEventListener('submit', function(event) {
      const productName = document.getElementById('productName').value;
      const price = document.getElementById('price').value;
      const details = document.getElementById("details").value;
      const brand = document.getElementById("brand").value;
      const quantities = document.getElementsByName("quantities");

      if (!productName.trim()) {
          event.preventDefault();
          document.getElementById('productNameValidationMessage').innerText = 'Product name is required.';
      } else {
          document.getElementById('productNameValidationMessage').innerText = '';
      }

      if (!price || price <= 0) {
          event.preventDefault();
          document.getElementById('priceValidationMessage').innerText = 'Price must be a positive number.';
      } else {
          document.getElementById('priceValidationMessage').innerText = '';
      }

      if (typeof details === 'string' && !details.trim()) {
          event.preventDefault();
          document.getElementById('detailsValidationMessage').innerText = 'Details are required.';
      } else {
          document.getElementById('detailsValidationMessage').innerText = '';
      }

      if (!brand.trim()) {
          event.preventDefault();
          document.getElementById('brandValidationMessage').innerText = 'Brand is required.';
      } else {
          document.getElementById('brandValidationMessage').innerText = '';
      }

      for (let i = 0; i < quantities.length; i++) {
          if (quantities[i].value < 0) {
            console.log("invalid error")
              event.preventDefault();
              document.getElementById('quantitiesValidationMessage').innerText = 'Quantity cannot be negative.';
              return
          }
      }

      document.getElementById('quantitiesValidationMessage').innerText = '';
  });
</script>
</body>
</html>
